<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/chart.css' %}">
</head>
<body>
	<div class="container">
		<header>
			<h1 class="logo">EchoChart</h1>
			<div class="timeFrames">
				<h3 id="timeFrame"></h3>
				<div id="timeFrameSuggestions" class="timeFrame-suggestions">
					<!-- List of timeframes, can be dynamically populated -->
					<div class="timeFrame-option">1m</div>
					<div class="timeFrame-option">5m</div>
					<div class="timeFrame-option">15m</div>
					<div class="timeFrame-option">1h</div>
					<div class="timeFrame-option">4h</div>
					<div class="timeFrame-option">1d</div>
				</div>
			</div>
			<div class="search-container">
                <input type="text" id="search-bar" placeholder="Search..." class="search-bar">
                <div id="suggestions" class="suggestions"></div>
                <button type="submit" class="search-button">🔍</button>
            </div>
		</header>
		<div class="leftbar">
			<img src="{% static 'main/images/cursor.png' %}" alt="crosshair-icon" class="tool" id="crosshair">
			<img src="{% static 'main/images/diagonal.png' %}" alt="diagonal-icon" class="tool" id="diagonal">
			<img src="{% static 'main/images/line.png' %}" alt="line-icon" class="tool" id="line">
			<img src="{% static 'main/images/sma.png' %}" alt="sma-icon" class="tool" id="sma">
			<img src="{% static 'main/images/ema.png' %}" alt="ema-icon" class="tool" id="ema">
		</div>
		<div id='tvchart'></div>
		    <div id="backtestModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<form id="backtestForm">
				<h2>Backtest Parameters</h2>
            
				<div class="form-group">
					<label for="startDate">Start Date:</label>
					<input type="date" id="startDate" name="startDate" required>
				</div>

				<div class="form-group">
					<label for="endDate">End Date:</label>
					<input type="date" id="endDate" name="endDate" required>
				</div>

				<div class="form-group">
					<label for="timeframe">Timeframe:</label>
					<select id="timeframe" name="timeframe" required>
						<option value="1m">1 minute</option>
						<option value="5m">5 minutes</option>
						<option value="15m">15 minutes</option>
						<option value="30m">30 minutes</option>
						<option value="1h">1 hour</option>
						<option value="4h">4 hours</option>
						<option value="1d">1 day</option>
					</select>
				</div>

				<button type="submit" class="submit-btn">Submit</button>
			</form>
		</div>
	</div>
	</div>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="{% static 'main/javascript/backtest_chart.js' %}"></script>
	<script src="{% static 'main/javascript/fetchit.js' %}"></script>
	<script src="{% static 'main/javascript/dynamicScript.js' %}"></script>	
  </body>
</html>
